*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    padding: 8px;
    height: 100vh;
    background-color: rgb(222, 211, 211);
    height: 100%;
    
}
fieldset{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}
form{
    min-width: 40vw;
}