.resume{
    padding: 8px;
    background-color: white;
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 1px 2px 1px 1px rgb(218, 218, 218);
}
.general{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.general .name{
    font-size: 34px;
    font-weight: bold;
}
.contact{
    display: flex;
    gap: 6px;
}

.schoolGeneral, .jobGeneral{
display: flex;
justify-content: space-between;
}
.responsibilities{
    white-space: pre-wrap;
}
.schoolDetails, .jobDetails{
    font-style: italic;
    
}